body{
    background-color: black;

}

#name{
    text-align: center;
    color: red;
    margin-bottom: 0px;
}

#details{
    margin-top: 0px;
    text-align: center;
    color: aliceblue;
}

#profilepic{
    float: left;
    height: 290px;
    width: 20%;
    margin-right: 20px;
}
#lnkdin{
    color: rgb(217, 255, 0);
}

.subhead{
    color: white;
    /* text-decoration: underline; */
    margin-bottom: 0px;
}

hr{
  height: 0.2px;
  padding-top: 0%;
  margin-top: 0%;
}

.det2{
    color: red;
}
span{
    margin-top: 0%;
    color: aliceblue;
    margin-bottom: 0px;
}
p{
    margin-top: 2px;
    margin-bottom: 2px;
    color: aliceblue;
}